# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui
anosList = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
tempList = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [11]:

# seu código aqui
anosSerie = pd.Series(data=tempList, index=anosList)
anosSerie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomaliaTermica = pd.Series(dic_temperaturas)
anomaliaTermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [80]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [81]:
#seu código aqui
arr_df_1 = pd.DataFrame(arr, index=np.arange(1,21), columns=['x1', 'x2', 'x3'])
arr_df_1

            x1          x2          x3
1   106.312095   95.307031  114.378544
2   113.115035  100.918662  112.322165
3    96.256499  109.405846   96.313234
4   103.981887  111.317472  100.860818
5    90.139335  102.181372  102.440488
6    95.022971   96.984187   97.754618
7   102.403793   97.755874   97.206358
8   106.662176  113.145265   99.658557
9    97.091906   93.699013   87.225216
10   99.477797  108.835757   98.962145
11   92.382927   92.045738   87.382950
12   92.725133   77.829226  105.359114
13   93.391416   89.885224   95.349207
14  107.930296   84.821625  106.135466
15   83.184149  112.267168   92.594159
16  112.213588  118.225387  116.117810
17  102.721271   94.559753   90.647838
18   87.283883  102.086237  116.858139
19  112.376840   76.430824  103.619687
20  110.810911   73.689948  104.584311

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [82]:
### seu código aqui
arr_df_1['media'] = arr_df_1.mean(axis=1)
arr_df_1

            x1          x2          x3       media
1   106.312095   95.307031  114.378544  105.332557
2   113.115035  100.918662  112.322165  108.785287
3    96.256499  109.405846   96.313234  100.658526
4   103.981887  111.317472  100.860818  105.386726
5    90.139335  102.181372  102.440488   98.253732
6    95.022971   96.984187   97.754618   96.587258
7   102.403793   97.755874   97.206358   99.122008
8   106.662176  113.145265   99.658557  106.488666
9    97.091906   93.699013   87.225216   92.672045
10   99.477797  108.835757   98.962145  102.425233
11   92.382927   92.045738   87.382950   90.603872
12   92.725133   77.829226  105.359114   91.971158
13   93.391416   89.885224   95.349207   92.875282
14  107.930296   84.821625  106.135466   99.629129
15   83.184149  112.267168   92.594159   96.015159
16  112.213588  118.225387  116.117810  115.518928
17  102.721271   94.559753   90.647838   95.976287
18   87.283883  102.086237  116.858139  102.076086
19  112.376840   76.430824  103.619687   97.475784
20  110.810911   73.689948  104.584311   96.361723

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [83]:
# seu código aqui
arr_df_1['log_med'] = np.log(arr_df_1['media'])
arr_df_1

            x1          x2          x3       media   log_med
1   106.312095   95.307031  114.378544  105.332557  4.657123
2   113.115035  100.918662  112.322165  108.785287  4.689376
3    96.256499  109.405846   96.313234  100.658526  4.611734
4   103.981887  111.317472  100.860818  105.386726  4.657637
5    90.139335  102.181372  102.440488   98.253732  4.587553
6    95.022971   96.984187   97.754618   96.587258  4.570447
7   102.403793   97.755874   97.206358   99.122008  4.596351
8   106.662176  113.145265   99.658557  106.488666  4.668039
9    97.091906   93.699013   87.225216   92.672045  4.529067
10   99.477797  108.835757   98.962145  102.425233  4.629133
11   92.382927   92.045738   87.382950   90.603872  4.506497
12   92.725133   77.829226  105.359114   91.971158  4.521475
13   93.391416   89.885224   95.349207   92.875282  4.531258
14  107.930296   84.821625  106.135466   99.629129  4.601455
15   83.184149  112.267168   92.594159   96.015159  4.564506
16  112.213588  118.225387  116.117810  115.518928  4.749434
17  102.721271   94.559753   90.647838   95.976287  4.564101
18   87.283883  102.086237  116.858139  102.076086  4.625718
19  112.376840   76.430824  103.619687   97.475784  4.579604
20  110.810911   73.689948  104.584311   96.361723  4.568109