# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui
anosList = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
tempList = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [11]:

# seu código aqui
anosSerie = pd.Series(data=tempList, index=anosList)
anosSerie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomaliaTermica = pd.Series(dic_temperaturas)
anomaliaTermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    99.451123  113.085981   99.393560
1   106.505968  101.747319   84.899569
2    89.361541   96.195151  100.055659
3    88.684362  118.500823   87.842571
4    98.921628   96.976136   96.460024
5   114.760307   89.455104   85.441831
6    95.364477  125.842868   97.927907
7    74.572983   91.498880  102.467221
8    94.227926  103.271913   94.371045
9    96.833250   85.663600  109.357008
10   99.264702  103.690352  110.854019
11  103.256829   90.072973  101.615896
12  105.779830   89.231850  114.804555
13  109.702410  112.078672  113.755472
14   93.042082   98.981443  103.306489
15   90.981804   94.401436  107.836284
16   87.940136   95.501547  102.103656
17   98.882207  118.580615  112.992688
18  106.036161  101.949323  105.925185
19  119.222286  121.325253   99.134633

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [74]:
#seu código aqui
mediaELog = pd.DataFrame({'x1': [10,12,20], 'x2': [7,9,17], 'x3': [2,5,1]})

mediaELog

   x1  x2  x3
0  10   7   2
1  12   9   5
2  20  17   1

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [75]:
### seu código aqui
mediaELog['media'] = round((mediaELog['x1'] + mediaELog['x2'] + mediaELog['x3']) / 3, 2)

mediaELog

   x1  x2  x3  media
0  10   7   2   6.33
1  12   9   5   8.67
2  20  17   1  12.67

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [76]:
# seu código aqui
mediaELog['log_med'] = round(np.log(mediaELog['media']), 2)

mediaELog

   x1  x2  x3  media  log_med
0  10   7   2   6.33     1.85
1  12   9   5   8.67     2.16
2  20  17   1  12.67     2.54